<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{ item.user }} &lt;<a href="mailto:{{ item.email }}">{{ item.email }}</a>&gt;
      {% if user %}
      <span class="pull-right"><a class="btn btn-info btn-xs" href="/tasks/{{ item.id }}/edit" role="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Изменить</a></span>
      {% endif %}
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-1">
        {% if item.isCompleted %}
        <span class="glyphicon glyphicon-check" aria-hidden="true" style="font-size:3em;"></span>
        {% else %}
        <span class="glyphicon glyphicon-unchecked" aria-hidden="true" style="font-size:3em;"></span>
        {% endif %}
      </div>
      <div class="col-md-8">
        {{ item.task }}
      </div>
      <div class="col-md-3">
        <a href="{{ item.image }}" target="_blank"><img src="{{ item.image }}" class="img center-block"></a>
      </div>
    </div>
  </div>
</div>
