{% extends 'layout.html' %}

{% block style %}
  {{ parent() }}
  <style type="text/css">
    .center-block {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    .img {
      display: block;
      width: 80px;
    }
  </style>
{% endblock %}

{% block jscript %}
  {{ parent() }}
  <script type="text/javascript">
    new Vue({
      el: '#toolbar',
      data: {
        sortUrl: '/tasks'
      },
      methods: {
        updateSortUrl: function (e) {
          var sort =  parseInt(e.target.value);
          switch (sort) {
            case 1:
              this.sortUrl = '/tasks?sort=user';
              break;
            case 2:
              this.sortUrl = '/tasks?sort=email';
              break;
            case 3:
              this.sortUrl = '/tasks?sort=isCompleted';
              break;
            default:
              this.sortUrl = '/tasks';
          }
          console.log(this.sortUrl);
        }
      }
    });
  </script>
{% endblock %}

{% block content %}
  <p id="toolbar">
    <a class="btn btn-default" href="/tasks/new" role="button">Добавить</a>
    <a class="btn btn-default btn-xs pull-right" style="margin: 0 0 0 5px;" v-bind:href="sortUrl" role="button">Применить</a>
    <span class="pull-right">
      Сортировать по:
      <select class="btn btn-xs" @change="updateSortUrl">
        <option value="0">---</option>
        <option value="1">имени пользователя</option>
        <option value="2">email</option>
        <option value="3">статусу</option>
      </select>
    </span>
  </p>
  {% if tasks|length %}
    {% for item in tasks %}
      {%include 'task/_item.html' with {'item': item, 'user': user} %}
    {% endfor %}
  {% else %}
    <div class="well well-lg">
      <h3 class="text-center">Записей не найдено</h3>
    </div>
  {% endif %}
  <nav aria-label="Навигация по страницам">
    <ul class="pager">
      {% if prevpage %}
      <li class="previous"><a href="{{ prevpage }}"><span aria-hidden="true">&larr;</span> Сюда</a></li>
      {% else %}
      <li class="previous text-muted"><span><span aria-hidden="true">&larr;</span> Сюда</span></li>
      {% endif %}
      {% if nextpage %}
      <li class="next"><a href="{{ nextpage }}">Туда <span aria-hidden="true">&rarr;</span></a></li>
      {% else %}
      <li class="next text-muted"><span>Туда <span aria-hidden="true">&rarr;</span></span></li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}
