{% extends 'layout.html' %}

{% block style %}
  {{ parent() }}
  <style type="text/css">
    .center-block {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    .img {
      display: block;
      width: 80px;
    }
  </style>
{% endblock %}

{% block jscript %}
  {{ parent() }}
  <script type="text/javascript">
    new Vue({
      el: '#task',
      data: {
        user: '',
        email: '',
        task: '',
        image: '',
        complete: false
      },
      methods: {
        updatePreview: function (e) {
          var files =  e.target.files;
          var reader = new FileReader();
          reader.addEventListener('load', function() {
               this.image = reader.result;
          }.bind(this));
          reader.readAsDataURL(files[0]);
        }
      }
    });
  </script>
{% endblock %}

{% block content %}
<div id="task">
  {% verbatim %}
  <div class="well well-lg" style="margin-top: 20px;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{ user }} &lt;<a v-bind:href="email" href="#">{{ email }}</a>&gt;
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-1">
            <span v-if="complete" class="glyphicon glyphicon-check" aria-hidden="true" style="font-size:3em;"></span>
            <span v-else class="glyphicon glyphicon-unchecked" aria-hidden="true" style="font-size:3em;"></span>
          </div>
          <div class="col-md-8">
            {{ task }}
          </div>
          <div class="col-md-3">
            <img v-bind:src="image" class="img center-block">
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endverbatim %}

  <form method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="user">Пользователь</label>
      <input type="text" class="form-control" id="user" name="user" placeholder="Имя пользователя" v-model="user">
    </div>
    <div class="form-group">
      <label for="email">Электронная почта</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" v-model="email">
    </div>
    <div class="form-group">
        <label for="image">Изображение</label>
        <input type="file" id="image" name="image" accept=".gif, .jpg, .png" @change="updatePreview">
        <p class="help-block">Поддерживаемые форматы: JPG/GIF/PNG</p>
      </div>
    <div class="form-group">
      <label for="taskText">Задача</label>
      <textarea name="task" class="form-control" id="taskText" cols="30" rows="10" v-model="task"></textarea>
    </div>

    <button type="submit" class="btn btn-default">Сохранить</button>
    <a class="btn btn-default" href="/tasks" role="button">Отмена</a>
  </form>
</div>
{% endblock %}
