{% extends "layout.html" %}

{% block jscript %}
  {{ parent() }}
  <script type="text/javascript">
  </script>
{% endblock %}

{% block content %}
  <form class="form-horizontal" method="POST" action="/login">
    <div class="form-group">
      <label for="inputLogin" class="col-sm-2 control-label">Логин</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputLogin" placeholder="логин" name="login">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">Пароль</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="пароль" name="passwd">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Войти</button>
      </div>
    </div>
  </form>
{% endblock %}
